 
<div class="container mt-4">
  <h2><%= title %></h2>
  
  <form method="post" class="row g-3">
    <input type="hidden" name="char_id" value="<%= character.char_id %>">
    <div class="col-md-6">
      <label class="form-label">账户ID</label>
      <input type="number" class="form-control" name="account_id" value="<%= character.account_id %>" readonly>
    </div>
    <div class="col-md-6">
      <label class="form-label">职业</label>
      <input type="text" class="form-control" name="char_name" maxlength="20" value="<%= character.char_name %>" required>
    </div>
    <div class="col-md-3">
      <label class="form-label">等级</label>
      <input type="number" class="form-control" name="level" min="1" max="127" value="<%= character.level %>">
    </div>
    <div class="col-md-3">
      <label class="form-label">最大血量</label>
      <input type="number" class="form-control" name="hp_max" value="<%= character.hp_max %>">
    </div>
    <div class="col-md-3">
      <label class="form-label">攻击</label>
      <input type="number" class="form-control" name="attack" value="<%= character.attack %>">
    </div>
    <div class="col-md-3">
      <label class="form-label">防御</label>
      <input type="number" class="form-control" name="defense" value="<%= character.defense %>">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">更新</button>
      <a href="/characters" class="btn btn-secondary">返回</a>
    </div>
  </form>
</div>
  